<form action="{{ path('task_toggle', {'id' : task.id }) }}" method = "post">
    <input type="hidden" name="token" value={{csrf_token('toggle-state')}}>
    <button class="btn btn-success btn-sm pull-right" id="toggle{{task.id}}">
        {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
    </button>
</form>
<form action="{{ path('task_delete', {'id' : task.id }) }}" method = "post">
    <input type="hidden" name="token" value={{csrf_token('delete-task')}}>
    <button class="btn btn-danger btn-sm pull-right" id="delete{{task.id}}">Supprimer</button>
</form>
