{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1>Liste des utilisateurs</h1>{% endblock %}

{% block body %}
    {% if users|length == 0 %}
        <div class="alert alert-warning" role="alert">
            Il n'y a pas encore d'utilisateur enregistré. <a href="{{ path('user_create') }}" class="btn btn-warning pull-right">Créer un utilisateur</a>
        </div>
    {% else %}
        <div class="row">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Role</th>
                    <th scope="col">Nom d'utilisateur</th>
                    <th scope="col">Adresse d'utilisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}{% set admin = "" %}
                    <tr>
                        <td>{% for role in user.roles %}{% if role == 'ROLE_ADMIN' %}{% set admin = true %} <img src={{ asset('img/software-engineer.png') }} style="width: 10%; height:auto;">{% endif %}{% endfor  %}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') and not admin %}
                                <a href="{{ path('user_toggle_role', {'id' : user.id}) }}" class="btn btn-success btn-sm">Edit</a>
                            {% elseif is_granted('ROLE_SUPER_ADMIN')%}
                                <a href="{{ path('user_toggle_role', {'id' : user.id}) }}" class="btn btn-success btn-sm">Edit</a>
                            {% else %}

                            {% endif %}
                             {% if is_granted('ROLE_ADMIN') %}
                                {% if is_granted('ROLE_SUPER_ASMIN') %}
                                    <form action= {{ path('user_delete', {'id' : user.id})}} method= 'post'>
                                        <input type="hidden" name="token" value={{csrf_token('delete-item')}}>
                                        <button type="submit" class="btn btn-danger">Supprimer</button>
                                    </form>
                                {% endif %}
                                {% if not admin %}
                                     <form action= {{ path('user_delete', {'id' : user.id})}} method= 'post'>
                                        <input type="hidden" name="token" value={{csrf_token('delete-item')}}>
                                        <button type="submit" class="btn btn-danger">Supprimer</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
